<html>
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta name="description" content="Lista de Hoteis">
        <meta name="keywords" content="hoteis, fuctura">
        <meta name="author" content="Jéssica Andrade">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Css's -->
        <!-- Bootstrap -->
        <link href="../assets/css/bootstrap/bootstrap-grid.css" rel="stylesheet">
        <link href="../assets/css/bootstrap/bootstrap-reboot.css" rel="stylesheet">
        <link href="../assets/css/bootstrap/bootstrap-utilities.css" rel="stylesheet">
        <link href="../assets/css/bootstrap/bootstrap.css" rel="stylesheet">

        <!-- FontAwesome -->
        <link href="../assets/css/fontAwesome/all.css" rel="stylesheet">
        <link href="../assets/css/fontAwesome/brands.css" rel="stylesheet">
        <link href="../assets/css/fontAwesome/regular.css" rel="stylesheet">
        <link href="../assets/css/fontAwesome/solid.css" rel="stylesheet">

        <!-- Local CSS -->
        <link href="../assets/css/css's/style.css" rel="stylesheet">

        <!-- Javascript bootstrap -->
        <script type="text/javascript" src="../assets/js/bootstrap/bootstrap.js"></script>
        <!-- Javascript FontAwesome -->
        <script type="text/javascript" src="../assets/js/fontAwesome/all.js"></script>
        <!-- Javascript Local JS -->
        <script type="text/javascript" src="../assets/js/js's/script.js"></script>
          <!-- Javascript SweetAlert -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <!-- Favion -->
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../assets/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="../assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <!-- Titulo da página -->
        <title>Hotelura - Lista de Hoteis</title>
    </head>
    <body>
    <!-- navbar -->
    <section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="name_logo">
            <img class="img_logo_navbar" src="../assets/img/imgs/hotel-bell.png"> Hotelura
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="../templates/list_hoteis.html">Lista de Hoteis</a>
            <a class="nav-item nav-link" href="../templates/create_edit_hoteis.html">Criar Hoteis</a>
          </div>
        </div>
      </nav>
    </section>

    <!-- Titulo da página -->
    <section>
        <div class="title_hotel"><span>LISTA DE HOTEIS</span></div>
    </section>

    <!-- Input de pesquisa por id -->
    <section>
        <div class="input_search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Pesquisar Hoteis..." 
                aria-label="Pesquisar Hoteis..." aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">Pesquisar</button>
                </div>
              </div>
        </div>
    </section>

    <!-- Tabela de dados -->
    <section>
        <div>
            <table class="table table_hotel">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Estrelas</th>
                    <th scope="col">Diária</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Menu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Noronha</th>
                    <td>5.0</td>
                    <td>500,00</td>
                    <td>Fernando de Noronha</td>
                    <td>
                        <div class="row">
                            <div class="col-2">
                                <button type="button" class="btn btn-primary btn-circle btn-sm">
                                  <i class="fas fa-pencil-alt icon_size"></i>
                                </button>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger btn-circle btn-sm" onclick="remove(10)">
                                  <i class="fas fa-trash icon_size"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </section>
    </body>
</html>